# Default values

backup_shifter:
  imageRef: {{ images["registry.yaook.cloud/yaook/backup-shifter"] }}

backup_creator:
  imageRef: {{ images["registry.yaook.cloud/yaook/backup-creator"] }}

schedule: 21 */12 * * *

namespace: default

metrics_port: 9100

priorityClassName: ""

targets:
    s3:
      endpoint: https://cool.s3.endpoint
      bucket: mybucket
      addressingStyle: path
      filePrefix: "etcdbackup"
      credentialRef:
        name: backup-s3-password
